.text_edit {
	width: 500px;
	height: 300px;
	resize: none;
	color: blue;
	background-color: #E8E8EE;
}

#show_txt {
	width: 500px;

}

input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {

    text-align: center;
    cursor: default;
    color: #ffffff;
    background-color: #000000;
    box-sizing: border-box;
    padding: 2px 10px 3px;
    border-width: 2px;
		border-radius: 20px;
		
}
